*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
td{
    font-size: 14px;
}
th{
    font-size: 16px;
}
a{
    cursor:pointer;
}

:root{
    --min-color: #03a95e;
}
[class*='-primary']:not(.text-primary) ,
.topbar .dropdown-list .dropdown-header , /* header of nonfiction */
.dropdown-item.active, .dropdown-item:active  /* drop down select  */{
    background-color: var(--min-color) !important ;
    border-color: var(--min-color);
    background-image:none;
}

.sidebar, .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active{
    color: var(--min-color) !important;
}
[class*='-primary']:not(.text-primary){
    background-color: var(--min-color) !important;
    border-color: var(--min-color) !important;
}
.text-primary , .sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active{
    color:var(--min-color) !important;
}
.card{
    box-shadow: 0 .125rem .25rem 0 rgba(58,59,69,.2)!important;
}
.card-header , .card{
    border: 0;
}
.card-body,.card{
    background-color: white;
}
.border-left-primary{
    background-color: white;
}

